[submodule "table-ui"]
	path = table-ui
	url = https://github.com/liangyuhong160/table-ui.git
[submodule "submodule/table"]
	path = submodule/table
	url = https://github.com/liangyuhong160/table-ui.git
	branch = dev
